{% extends "layout.html" %}

{{% block body %}
<h3>Hakkımda</h3>

<p>Merhaba, ben Ömer. Elektrik ve Elektronik mühendisiyim. Bu blog sayfası kendi oluşturduğum ilk amatör web sayfası
olmaktadır. O yüzden ufak tefek şeyler gözünüzü yorabilir :) Bu web sayfasını oluştururken Django Web Framework kullandım meraklıları 
için github sayfamdan <a href="https://github.com/OmerLyv/djangoblog">buraya</a> tıklayarak repoyu görebilirsinz.
ParadiseBlog sayfasında yayınlanan makaleleri okuyabilir ve yorumlayabilirsiniz. Makale yayınlamak için çok kısa süren üyelik işleminden
sonra sizlerde çok rahat bir şekilde makalelerinizi yayınlayabilirsiniz. Form ekleme kısmında CK Editor kullanılmıştır, yazılımlarını
paylaşmak isteyen arkadaşlar rahat bir şekilde kaynak kodlarını paylaşabilir.
<br> <hr>
Herhangi bir sorun için lütfen blog.paradisee@gmail.com ile iletişime geçebilirsiniz.





 </p>
{% endblock body %}}